.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: lightcoral; 
}

.Nav-link {
  padding: 2rem;
}

.nav-item a {
  text-decoration: none;
  margin-top: 1rem;
  color: lightcoral;
}

button {
  background-color: blanchedalmond;
  padding: 20px, 10px;
  margin: 5px;
}

h1 {
  color: blanchedalmond;
}
.CTA-h1 {
  color: lightcoral;
}
